auto {{ proxmox_bridge }}
iface {{ proxmox_bridge }} inet static
    address {{ proxmox_gw }}
    netmask {{ proxmox_netmask }}
    bridge_ports none
    bridge_stp off
    bridge_fd 0
    post-up echo 1 > /proc/sys/net/ipv4/ip_forward
    post-up iptables -t nat -A POSTROUTING -s '{{ proxmox_network }}{{ proxmox_prefix }}' -o {{ proxmox_iface }} -j MASQUERADE
    post-down iptables -t nat -D POSTROUTING -s '{{ proxmox_network }}{{ proxmox_prefix }}' -o {{ proxmox_iface }} -j MASQUERADE

    {% for cont in proxmox_containers|default([]) -%}
    # container ID:{{ cont.vmid }}

    {% for port in cont.ports|default([]) -%}
    # map host port {{ port.host }} to {{ cont.ip}} port {{ port.guest }}
    post-up iptables -t nat -A PREROUTING -i {{ proxmox_iface }} -p tcp --dport {{ port.host }} -j DNAT --to {{ cont.ip }}:{{ port.guest }}
    post-down iptables -t nat -D PREROUTING -i {{ proxmox_iface }} -p tcp --dport {{ port.host }} -j DNAT --to {{ cont.ip }}:{{ port.guest }}

    {% endfor %}
    {%- endfor %}
